{% extends "UserBundle::layout.html.twig" %}

{% block debat_bundle %}
    <!-- controlleur OK, renvoie un tableau de 1 débat au hasard -->
<div class="container">
    <nav class="navbar navbar-inverse nav-container">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a style="color:black;" href="{{ path('debat_categorie') }}">Catégories</a></li>
                <li><a style="color:black;" href="{{ path('debat_my_debats') }}">Afficher mes débats</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="color:black;" href="{{ path('debat_home_one') }}">Débat au hasard</a></li>
                <li><a style="color:black;" href="{{ path('debat_home_grid') }}">Grille de débats</a></li>
                <li><a style="color:black;" href="{{ path('debat_add_debat') }}">Rédiger un débat</a></li>
            </ul>
        </div>
    </nav>

    <!-- appel controller OK -->

    {% for categorie in categories %}
        <li>{{ categorie.getNom()|e }}</li>
    {% endfor %}

</div>


{% endblock debat_bundle %}