<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('CSS/UserBundle.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>

<body>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Utilisateur connecté : {{ app.user.username }}
        <a href="{{ path('fos_user_security_logout') }}">
            <button type="button" class="btn btn-danger">Deconnexion</button>
            <a href="{{ path('fos_user_change_password') }}">
                <button type="button" class="btn btn-info">Change password</button>
            </a>
        </a>

    {% else %}

        {% if app.request.attributes.get("_route") == 'fos_user_security_login' %}
            <a href="{{ path('fos_user_registration_register') }}">
                <button type="button" class="btn btn-info">S'inscrire</button>
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">
                <button type="button" class="btn btn-info">Se Connecter</button>
            </a>
        {% endif %}
    {% endif %}

    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
                {% block fos_user_content %}{% endblock fos_user_content %}
            </div>
        </div>
        {% block debat_bundle %} {% endblock debat_bundle %}
    </div>
</body>
</html>