{% extends "UserBundle::layout.html.twig" %}

{% block debat_bundle %}

    <div class="container">
        <nav class="navbar navbar-inverse nav-container">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a style="color:black;" href="{{ path('debat_categorie') }}">Catégories</a></li>
                    <li><a style="color:black;" href="{{ path('debat_my_debats') }}">Afficher mes débats</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color:black;" href="{{ path('debat_home_grid') }}">Grille de débats</a></li>
                    <li><a style="color:black;" href="{{ path('debat_add_debat') }}">Rédiger un débat</a></li>
                </ul>
            </div>
        </nav>

        <div class="row">
            {% for debat in tableau %}
                <div class="col-sm-12 col-md-12 div_grid">
                    <a class="a_grid" href="{{ path('debat_debat', {'id': debat.id()|e }) }}">
                        <div class="col-sm-12 col-md-12 text-center div_grid_in">
                            <div class="col-sm-12 col-md-12">
                                <p style="font-weight: bold; font-size: 2em;">{{ debat.titre()|e }}</p>
                                <p style="font-size: 1.5em;">{{ debat.getQuestion()|e }}</p>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <button type="button" class="btn_one btn btn-success" DISABLED>{{ debat.getReponse1()|e }}</button>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <button type="button" class="btn_one btn btn-danger" DISABLED>{{ debat.getReponse2()|e }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="{{ path('debat_home_one') }}"><img height="25%" width="25%" src="/Projet/src/DebatBundle/Resources/pictures/fleche.png"> </a>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock debat_bundle %}